---   

<h1 align="center">Introduction to Data Analyst and Data Science for beginners</h1>
<h1 align="center">Lecture no 10</h1>

---
<h3><div align="right">Ehtisham Sadiq</div></h3>

## _loops.ipynb_

## Learning agenda of this notebook
There are scenarios in programming, where we need to repeat a set of instructions a specified number of times or until a condition is met. This is called iteration. A programming structure that implements iteration is called a loop. In programming there are two types of iteration:
1. Indefinite Iteration, implemented using a `while` loop
    - Basic `while` loop examples
    - Use of `break`,  `continue` and `else` in `while` loop   
    - Nested `while` loop <br><br>
3. Definite Iteration, implemented using a `for` loop
    - Iterables and Iterators
    - Basic `for` loop examples
    - The `range()` and `enumerate()` functions
    - Use of `break`, `continue` and `else` in `for` loop
    - Nested `for` loop <br><br>
4. List Comprehension <br><br>
5. Dictionary Comprehension

In [31]:
i = 0 #while loop variable
while i<5: # while loop condition
    print("Hello world!") # set statements
    
    i = i +1 # update loop variable

    
print("Done!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Done!

<img align="right" width="400" height="300"  src="images/while.png" > 

## 1. The `while` Loop
```
initialize loop variable
while (condition is true):
    statement(s)
    update loop variable
statement(s)
```
- The indented block of code, often refered to as body of the loop will be executed repeatedly until the condition/expression evaluates to False.
- The condition or controlling expression, typically involves on or more variables that are initialized prior to starting the loop and then modified somewhere in the loop body.
- While loop is generally used, when we don't know the number of times to iterate beforehand.

In [1]:
help('while')

The "while" statement
*********************

The "while" statement is used for repeated execution as long as an
expression is true:

   while_stmt ::= "while" assignment_expression ":" suite
                  ["else" ":" suite]

This repeatedly tests the expression and, if it is true, executes the
first suite; if the expression is false (which may be the first time
it is tested) the suite of the "else" clause, if present, is executed
and the loop terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clause’s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and goes back
to testing the expression.

Related help topics: break, continue, if, TRUTHVALUE

### a. Basics of While Loop

In [34]:
# Example 1: Print numbers
# initialize loop variable - check condition - update loop variable
number = 2
while number < 7:
    
    print(number)
    
    number = number + 1
    
    
    
print("Bye-Bye")
# 2, 3, 4, 5, 6,

2
3
4
5
6
Bye-Bye

In [36]:
i = 50
while i>1:
    print(i)
    i = i - 5
print("Done!")

50
45
40
35
30
25
20
15
10
5
Done!

### Example: Program to print 1 to 10 using while loop

In [40]:
i = 1
while i<=10:
    print(i, end= "  ")
    i = i + 2

1  3  5  7  9

In [44]:
i = 0
while i<=100:
    print(i, end= "  ")
    i = i +5

0  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95  100

In [2]:
# initialize while loop variable
i = 1
# condition of while loop
while i<=10:
    print(i)
    i+=1

### Example: Program to print table of given numbers.

In [45]:
number = int(input("Enter a number : "))

Enter a number : 8

In [47]:
i = 1
while i<=10:
    print(number, " *" , i, " = ", number*i)
    i = i+1

8  * 1  =  8
8  * 2  =  16
8  * 3  =  24
8  * 4  =  32
8  * 5  =  40
8  * 6  =  48
8  * 7  =  56
8  * 8  =  64
8  * 9  =  72
8  * 10  =  80

In [6]:
# # Take input from user using input() function
# number = int(input("Enter a number : "))

# # initialize while loop variable
# i = 1

# #condition of while loop
# while i<=10:
#     print(f"{i} * {number} = {i*number}")
#     i+=1

## Example: Program to print sum of all the numbers in list12

In [48]:
list1 =  [2,4,5,6,7,8,9]
i = 0
Sum = 0
while i < len(list1):
    
    Sum = Sum + list1[i]
    
    i = i+1
    
print(Sum)

41

In [50]:
# import math
# math.factorial(10)
# # 3628800

3628800

In [3]:
%%time   
# Example 2: Calculate 100th factorial


i = 1   
result = 1
if i == 0:
    result = 1
else:
    while (i <= 10):
        result = result * i
        i += 1
print(result)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
CPU times: user 474 µs, sys: 429 µs, total: 903 µs
Wall time: 543 µs

User time is the amount of CPU time taken outside of the kernel. Sys time is the amount of time taken inside of the kernel, and Wall time the time the code was submitted to the CPU to the time when the process completed.

Here's how the above code works:

* We initialize two variables, `result` and, `i`. `result` will contain the final outcome. And `i` is used to keep track of the next number to be multiplied with `result`. Both are initialized to 1 (can you explain why?)

* The condition `i <= 100` holds true (since `i` is initially `1`), so the `while` block is executed.

* The `result` is updated to `result * i`, `i` is increased by `1` and it now has the value `2`.

* At this point, the condition `i <= 100` is evaluated again. Since it continues to hold true, `result` is again updated to `result * i`, and `i` is increased to `3`.

* This process is repeated till the condition becomes false, which happens when `i` holds the value `101`. Once the condition evaluates to `False`, the execution of the loop ends, and the `print` statement below it is executed.

In [55]:
list1 = list(range(1,11))
print(sum(list1))

55

In [62]:
a = (n*(n+1))//2
a

55

In [58]:
# Example 3: Input number from user and compute the sum 1+2+3+4+....+n
n = int(input("Enter number: "))
Sum = 0
i = 1
while (i <= n):
    Sum = Sum + i
    i = i+1   # update counter
print("The sum is", Sum)

Enter number: 10
The sum is 55

In [70]:
# for i in list1:
#     print(i, end=" ")

In [69]:
list1 = ['Learning', 'is', 'fun', 'with', 'Ehtisham Sadiq']
print(len(list1))
i = 0
while i < len(list1):
    print(list1[i])
    i = i +2
print("Done!")

5
Learning
fun
Ehtisham Sadiq
Done!

In [7]:
# # Example 4: while loop iterates over the elements until a certain condition is met
list1 = ['Learning', 'is', 'fun', 'with', 'Ehtisham Sadiq']
ctr = 0
while(ctr < len(list1)):
    print(list1[ctr])
    ctr += 1

print(list1)

Learning
is
fun
with
Ehtisham Sadiq
['Learning', 'is', 'fun', 'with', 'Ehtisham Sadiq']

In [71]:
for i  in list1:
    print(i)

Learning
is
fun
with
Ehtisham Sadiq

In [72]:
# Example 5: Using iterables inside a while loop expression
mylist = ['Ehtisham', 'Ali','Ayesha', 'Dua']
print("mylist before the loop: ", mylist)

x = 1
while mylist:   #you read it as while there exist elements in the iterable mylist do following
    print("This is iteration number: ", x)
    x += 1
    print(mylist.pop())   # removes the right most value from the iterable mylist each time it is called
    print("\n")
print("mylist after the loop: ",mylist)

mylist before the loop:  ['Ehtisham', 'Ali', 'Ayesha', 'Dua']
This is iteration number:  1
Dua


This is iteration number:  2
Ayesha


This is iteration number:  3
Ali


This is iteration number:  4
Ehtisham


mylist after the loop:  []

In [74]:
i = 0
while i < len(list1):
    print(list1[i])
    i = i+1

Learning
is
fun
with
Ehtisham Sadiq

In [81]:
# n=2 , Fn = Fn-1 + Fn-2, n>1
# F2 = F1 + F0
#F3 = F2+F1
# F4 = F3+F2
#F5 = F4+F3
# F10 = f9+f8

![](fibonacci-formula-1618931842-1623683815.png)

In [ ]:
# # F1 = 1, F0 = 0
# F2 = F1+F0 = 1+0= 1
# F3= F2+F1 = 1+1 = 2
# F4 = F3+F2 = 2+1 = 3
# F5 = F4+F3 = 3+2 = 5

In [83]:
# Example 6: Print Fibonacci series
n = int(input("Enter count of fibonacci numbers you want to print: "))
i = 1
if n<1:
    fib = []       # In case user enter <0, the list is empty
elif n==1:
    fib = [0]      # If user enters 1, the list has the first fibonacci number
elif n==2:
    fib = [0, 1]   # If user enters 2, the list has the first two fibonacci numbers
elif n > 2:
    fib = [0, 1]   # if n>2, then we need to enter in while loop to compute the rest of the fibonacci numbers
    while (i < n):
        fib.append(fib[i-1] + fib[i-2])
        i += 1
print("Required Fibonacci series: ", fib)

Enter count of fibonacci numbers you want to print: 20
Required Fibonacci series:  [0, 1, 1, 1, 2, 2, 3, 4, 5, 7, 9, 12, 16, 21, 28, 37, 49, 65, 86, 114, 151]

In [ ]:
# fib.append(fib[i-1] + fib[i-2])
#Fn = Fn-1 + Fn-2###

### b. Nested While Loops
- A while loop can have other control structures such as `if` statements or other `while` loops nested under them

In [130]:
i = 1
while i<=5:
    j = 1
    while j<=10:
        print(i,'*',j,'=',i*j)
        j=j+1
    print("\n")
    i = i+1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [86]:
a = [1,2,3,4,5]
while (a):
    print("Outer : ", a.pop())
    b = ['Ehtisham', 'Ali']
    while b:
        print("Inner : ", b.pop())
print("Done!")

Outer :  5
Inner :  Ali
Inner :  Ehtisham
Outer :  4
Inner :  Ali
Inner :  Ehtisham
Outer :  3
Inner :  Ali
Inner :  Ehtisham
Outer :  2
Inner :  Ali
Inner :  Ehtisham
Outer :  1
Inner :  Ali
Inner :  Ehtisham
Done!

In [14]:
# Example 1: A while loop nested inside another while loop
# Note the inner while loop works on a list that is declared again and again inside the outer loop
a = [1,2,3,4,5]
while (a):
    print("Outer: ", a.pop())
    b = ['Ehtisham', 'Ali']
    while (b):
        print("\t Inner: ", b.pop())

print("After both the loops end")
print("a= ", a)
print("b= ", b)

Outer:  5
	 Inner:  Ali
	 Inner:  Ehtisham
Outer:  4
	 Inner:  Ali
	 Inner:  Ehtisham
Outer:  3
	 Inner:  Ali
	 Inner:  Ehtisham
Outer:  2
	 Inner:  Ali
	 Inner:  Ehtisham
Outer:  1
	 Inner:  Ali
	 Inner:  Ehtisham
After both the loops end
a=  []
b=  []

In [96]:
# with open('new.txt', 'r') as f:
#     data = f.read()
# #     print(data)
# #     print(type(data))
#     list1 = data.split()
# #     print(list1)
#     i = 0
#     while i < len(list1):
#         if 'm' in list1[i]: 
#             print(list1[i])
#         i = i +1

## 2. Jump Statements in Python (`break` and `continue`)

<img align="left" width="300" height="300"  src="images/break.png" > 

<img align="right" width="300" height="300"  src="images/continue.png" > 

In the above examples, we have seen that the entire body of the while loop is executed on each iteration. Python provides two keywords that terminate a loop iteration prematurely:
- Python **`break`** statement immediately terminates a loop entirely. Program execution proceeds to the first statement after the loop body.<br><br>
- Python **`continue`** statement immediately terminates the current loop iteration. Program execution jumps to the top of the loop, and the loop condition is re-evaluated to determine whether the loop will execute again or terminate

### a. Infinite loop and break statement:

In [9]:
help('break')

The "break" statement
*********************

   break_stmt ::= "break"

"break" may only occur syntactically nested in a "for" or "while"
loop, but not nested in a function or class definition within that
loop.

It terminates the nearest enclosing loop, skipping the optional "else"
clause if the loop has one.

If a "for" loop is terminated by "break", the loop control target
keeps its current value.

When "break" passes control out of a "try" statement with a "finally"
clause, that "finally" clause is executed before really leaving the
loop.

Related help topics: while, for

In [101]:
#Example 1: Breaking an infinite while loop on a certain condition
n = 0
while (True):
    n = n + 1
    if (n == 10):
        break
    print(n, end="  ")
print("\nOutside loop")

1  2  3  4  5  6  7  8  9
Outside loop

In [111]:
#Example 2: Breaking a while loop on a certain condition
n = 10
while n>0:
    n = n - 1
    if (n == 4):
        break
    print(n , end=" ")
print("Break")

9 8 7 6 5 Break

### b. The `continue` statement: 
- Python **continue** statement immediately terminates the current loop iteration. Program execution jumps to the top of the loop, and the loop condition is re-evaluated to determine whether the loop will execute again or terminate

In [12]:
help('continue')

The "continue" statement
************************

   continue_stmt ::= "continue"

"continue" may only occur syntactically nested in a "for" or "while"
loop, but not nested in a function or class definition within that
loop.  It continues with the next cycle of the nearest enclosing loop.

When "continue" passes control out of a "try" statement with a
"finally" clause, that "finally" clause is executed before really
starting the next loop cycle.

Related help topics: while, for

In [110]:
#Example 1: Use of continue
n = 10
while n > 0:
    n = n - 1
    if (n == 5 or n == 7):
        continue
    print(n)
print("Done!")

9
8
6
4
3
2
1
0
Done!

In [118]:
age =21
if age <18:
    print("Adult")
else:
    print("Child")

Child

In [119]:
#Example 2: Use of continue
n = 10
while n > 0:
    n = n - 1
    if (n % 2 == 0):
        continue
    print(n)
else:
    print("Done!")

9
7
5
3
1
Done!

In [122]:
#Example 2: Use of continue
n = 10
while n > 0:
    n = n - 1
    if (n == 2):
        break
    print(n)
else:
    print("Done!")

9
8
7
6
5
4
3

### c. The `while` loop with `else` statement: 
- On normal termination of loop, i.e., when the loop condition becomes False, the `else` clause will execute. 
- However, if the loop is terminated prematurely by either a break or return statement, the `else` clause won’t execute at all.

In [132]:
# Example: The `else` block will execute only when the loop condition becomes false
n = 5
while n > 0:
    n = n - 1
    if (n==2):
#         continue
        break
    print(n)
else:
    print("Loop is finished")
print("outside loop")

4
3
outside loop

In [124]:
# Example: The `else` block will execute only when the loop condition becomes false
n = 5
while n > 0:
    n = n - 1
    print(n)
else:
    print("Loop is finished")
print("outside loop")

4
3
2
1
0
Loop is finished
outside loop

In [16]:
n = 5
while n > 0:
    n = n - 1
    print(n)
print("Loop is finished")
print("outside loop")

4
3
2
1
0
Loop is finished
outside loop

In [126]:
# Example: The `else` block will NOT execute because the loop breaks w/o the loop condition being false
n = 5
while n > 0:
    n = n - 1
    if (n==2):
        break
    print(n)
else:
    print("Loop is finished")
print("outside loop")

4
3
outside loop

<img align="right" width="300" height="300"  src="images/for.png" > 

## 3. The `for` Loop
- We use `for` loop when we want to run a block of code for known set of items in an iterable.
- In the context of most data science work, Python `for` loops are used to loop through an iterable object (like a list, tuple, set, dictionary) and perform the same action for each entry. 
- For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.
```
for variable in <iterable>:
    <statement(s)>
```
- Before we see a basic example of a Python `for` loop, let us first understand the concept of **Iterables** and **Iterators**

### a. Iterables and Iterators
- An `Iterable` in Python is an object that is capable of returning its members one at a time, and therefore, can be used in an iteration. Lists, Tuples, Sets and Dictionaries are iterables.
- An `Iterator` in Python is an object that is used to iterate over iterable objects
    - To initialize an iterator we pass an iterable object to Python built-in function `iter()`
    - The `iter()` function returns an iterator for that iterable object. 
    - Later we use the Python built-in `next()` function to iterate over the elements of that iterable
- Let us understand this using some example codes:

>**So the `iter()` and the `next()` functions makes the basis of a `for` loop in Python**

### b. Basic For Loop Examples

In [149]:
# Example 1
mylist = ['Ehtisham', 'Ali', 'Ayesha', 'Adeen' ,'Dua']

for i in mylist:
    print(i)
print("Done!")

Ehtisham
Ali
Ayesha
Adeen
Dua
Done!

In [152]:
# Example 2: Loop through the letters in a string
# string = "Be Happy"
for i in ("Be Happy"):
    print(i , end= " ")

B e   H a p p y

In [153]:
# Example 3: Iterate a tuple using for loop
friends = ('Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen')

for friend in friends:
    print(friend)

Ehtisham
Ali
Ayesha
Dua
Adeen

In [ ]:
# while i < len(list1):

In [158]:
# Example 4: Iterate a string using for loop and count the count of a specific character
word = "Welcome to Learning with Ehtisham Sadiq."
count = 0
for character in word:
    if character == 'm':
        count = count+1
print(count)

2

In [162]:
# Example 5:  Iterating through a dictionary keys
d1 = {
    'Name': 'Ehtisham', 
    'Gender': 'Male', 
    'Age': 21, 
    'Height': 5.7, 
    'Occupation': 'Student'
}

print("Iterating through dictionary keys:")
for i in d1:
    print(i)
print("\n\n")    

print("Another way of iterating through dictionary keys:")
for i in d1.keys():
    print(i)

print("Another way of iterating through dictionary values:")
for i in d1.values():
    print(i)

Iterating through dictionary keys:
Name
Gender
Age
Height
Occupation



Another way of iterating through dictionary keys:
Name
Gender
Age
Height
Occupation
Another way of iterating through dictionary values:
Ehtisham
Male
21
5.7
Student

In [21]:
# Example 6: Iterating through the values
d1 = {
    'Name': 'Ehtisham', 
    'Gender': 'Male', 
    'Age': 21, 
    'Height': 5.7, 
    'Occupation': 'Student'
}
print("Iterating through a dictionary values:")
for i in d1.values():
    print(i)

Iterating through a dictionary values:
Ehtisham
Male
21
5.7
Student

In [166]:
# d1.items()
# sorted(list1)

In [167]:
# Example 7: Iterating through the key-value pairs
d1 = {
    'Name': 'Ehtisham', 
    'Gender': 'Male', 
    'Age': 21, 
    'Height': 5.7, 
    'Occupation': 'Student'
}
print("\nIterating through a dictionary key:value pairs:")
for i in d1.items():
    print(i)

Iterating through a dictionary key:value pairs:
('Name', 'Ehtisham')
('Gender', 'Male')
('Age', 21)
('Height', 5.7)
('Occupation', 'Student')

In [168]:
d1 = {
    'Name': 'Ehtisham', 
    'Gender': 'Male', 
    'Age': 21, 
    'Height': 5.7, 
    'Occupation': 'Student'
}
print("\nIterating through a dictionary key:value pairs:")
for k,v in d1.items():
    print(k,':',v)

Iterating through a dictionary key:value pairs:
Name : Ehtisham
Gender : Male
Age : 21
Height : 5.7
Occupation : Student

#### The `pass` statement in a `for` loop
- The `pass` statement is generally used as a placeholder i.e. when the user does not know what code to write. 
- So user can simply write `pass` statement, where empty code is not allowed, like in loops, function definitions, class definitions, or in if statements.

In [37]:
help('pass')

The "pass" statement
********************

   pass_stmt ::= "pass"

"pass" is a null operation — when it is executed, nothing happens. It
is useful as a placeholder when a statement is required syntactically,
but no code needs to be executed, for example:

   def f(arg): pass    # a function that does nothing (yet)

   class C: pass       # a class with no methods (yet)

In [174]:
list1 =['Ehtisham', 'ali', 'ayesha', 'dua']
for i in list1:
    if i == 'ali':
        continue
    print(i)

Ehtisham
ayesha
dua

In [173]:
list1 =['Ehtisham', 'ali', 'ayesha', 'dua']
for i in list1:
    if i == 'ali':
        pass
    else:
        print(i)

Ehtisham
ayesha
dua

In [28]:
# Print all elements of list ignoring string "ali"
list1 =['Ehtisham', 'ali', 'ayesha', 'dua']
 
for i in list1:
    if(i =='ali'):
        pass    # do nothing 
    else:
        print(i)

Ehtisham
ayesha
dua

In [177]:
str1 = "This is great stuff"
for i in str1:
    if i==' ':
        pass
    else:
        print(i, end="")

Thisisgreatstuff

In [39]:
# Print the string ignoring spaces
str1 = "This is great stuff"
for i in str1:
    if(i ==' '):
        pass
    else:
        print(i, end="")

Thisisgreatstuff

### c. Using `range()` Function in `for` Loops
- The `range()` method is used to create a range object, containing sequence of numbers that can be iterated over using a `for` loop.
- It can be used in 3 ways:
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increment/decrement of `step`

In [178]:
# for i in range(1,10):
#     print(i, nd=" ")

1 2 3 4 5 6 7 8 9

In [1]:
# help(range)

In [179]:
rv = range(10)
print(type(rv))

<class 'range'>

In [181]:
print(range(10))    # returns an iterator object containing integer values

print(list(range(10)))

print(list(range(-5, 2, 1)))

print(list(range(20, 2, -3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1]
[20, 17, 14, 11, 8, 5]

In [184]:
#Example 1: 
a = range(10) 
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [185]:
#Example 2:
#a = range(3, 10) 
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [187]:
#Example 3: 
a = range(3, 16, 4) 
for i in a:
    print(i)

3
7
11
15

In [189]:
myfamily = ['Ehtisham','Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib']
for i in myfamily:
    print(i)

Ehtisham
Ali
Ayesha
Dua
Adeen
Khubaib

In [190]:
# Example 4: Used to iterate over Lists, when you need to track the index of elements while iterating.
myfamily = ['Ehtisham','Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib']

for i in range(len(myfamily)):  # Remember the len() function returns 6 in this scenario
    print('The value at position {} is {}.'.format(i, myfamily[i]))

The value at position 0 is Ehtisham.
The value at position 1 is Ali.
The value at position 2 is Ayesha.
The value at position 3 is Dua.
The value at position 4 is Adeen.
The value at position 5 is Khubaib.

### d. Using  `enumerate()` Function in `for` Loops
- The `enumerate()` method is passed an iterable object and returns an enumerate object containing tuples, each tuple having two values:
```
(index, data_at_that_index_in_the_iterable)
```
- It is is useful for obtaining an indexed list:
```
       (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
```

In [192]:
myfamily

['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib']

In [191]:
for i in enumerate(myfamily):
    print(i)

(0, 'Ehtisham')
(1, 'Ali')
(2, 'Ayesha')
(3, 'Dua')
(4, 'Adeen')
(5, 'Khubaib')

In [30]:
mylist = ['ehtisham','ali','ayesha']
rv = enumerate(mylist)
print(type(rv))

<class 'enumerate'>

In [31]:
mylist = ['ehtisham','ali','ayesha']

print(list(enumerate(mylist)))

[(0, 'ehtisham'), (1, 'ali'), (2, 'ayesha')]

In [32]:
mylist = ['ehtisham','ali','ayesha']

print(dict(enumerate(mylist)))

{0: 'ehtisham', 1: 'ali', 2: 'ayesha'}

In [33]:
myfamily

['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib']

In [193]:
myfamily = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib']

for i, name in enumerate(myfamily): 
    print('The value at position {} is {}.'.format(i, myfamily[i]))

The value at position 0 is Ehtisham.
The value at position 1 is Ali.
The value at position 2 is Ayesha.
The value at position 3 is Dua.
The value at position 4 is Adeen.
The value at position 5 is Khubaib.

### d. Use of `break` and `continue` statement inside a `for` loop
- Python **break** statement immediately terminates a loop entirely. Program execution proceeds to the first statement after the loop body.
- Python **continue** statement immediately terminates the current loop iteration. Program execution jumps to the top of the loop, and the loop condition is re-evaluated to determine whether the loop will execute again or terminate

In [194]:
# Example 1: Break the loop when it reaches the element "cherry"
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
    if x == "cherry":
        break
    print(x)

apple
banana

In [36]:
# Example 2: Do not print banana from the list
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry
guava

In [195]:
# Example 3: Print odd numbers from 1 to 11
for i in range(1,12):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11

In [197]:
mydict = {
          'ehtisham':90, 
          'ali':95, 
          'ayesha':81, 
          'dua':77, 
          'adeen':86, 
          'khubaib':100
        }
mydict.keys()

dict_keys(['ehtisham', 'ali', 'ayesha', 'dua', 'adeen', 'khubaib'])

In [200]:
# Example 4: A for loop with else and break
mydict = {
          'ehtisham':90, 
          'ali':95, 
          'ayesha':81, 
          'dua':77, 
          'adeen':86, 
          'khubaib':100
        }

student_name = input('enter name: ')
for name in mydict.keys():
    if name == student_name:
        print(mydict[name])
        break
else:
    print('No entry with that name found.')
print("Outside loop")

enter name: ali
95
Outside loop

### e. Nested for loop

In [201]:
# Example: A for loop nested inside another for loop
# Note the inner for loop works on a list that is declared again and again inside the outer loop
list1 = [1,2,3,4]
for numb in list1:
    print("Outer: ", numb)
    list2 = ['Ehtisham', 'Ali']
    for name in list2:
        print("\t Inner: ", name)

print("Outside loops")

Outer:  1
	 Inner:  Ehtisham
	 Inner:  Ali
Outer:  2
	 Inner:  Ehtisham
	 Inner:  Ali
Outer:  3
	 Inner:  Ehtisham
	 Inner:  Ali
Outer:  4
	 Inner:  Ehtisham
	 Inner:  Ali
Outside loops

In [202]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

In [203]:
for i in range(12,15):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [207]:
list3 = list(range(1,11))
# print(list3)
for i in list3:
    if i%2==0:
        print(i)

2
4
6
8
10

## 4. List Comprehension
- In Python comprehension is a concise way to create a new sequence based on the values of an existing sequence (which can be a list, dictionary, set or a generator)
- Let us understand List comprehension step by step with examples:

**Example 1:** Suppose we have an oldlist containing some random numbers. We want to create a new list that contains square of the numbers of the oldlist

In [211]:
oldlist = [5, 3, 6, 2]
newlist = []
for i in oldlist:
    newlist.append(i*i)
newlist

[25, 9, 36, 4]

In [57]:
oldlist = [5, 3, 6, 2]
newlist = []

for i in oldlist:
    newlist.append(i*i)

newlist

[25, 9, 36, 4]

In [212]:
new = [i*i for i in oldlist]
new

[25, 9, 36, 4]

**You can perform above task in single line using List Comprehension**

```newlist = [expression for item in iterable]```

Where,
- `expression` is the member itself, a call to a method, or any other valid expression that returns a value. 
- `item` is the object or value in the list or iterable.
- `iterable` is a list, set, sequence, generator, or any other object that can return its elements one at a time.

In [213]:
oldlist = [5, 3, 6, 2]

newlist = [i**3 for i in oldlist]

newlist

[125, 27, 216, 8]

**Example 2:** Given a list, create a new list that should contain the even numbers in the given list using List Comprehension

```newlist = [expression for item in iterable if (condition == True)]```

A list comprehension in Python can have four elements:
- `expression` is the member itself, a call to a method, or any other valid expression that returns a value. 
- `item` is the object or value in the list or iterable.
- `iterable` is a list, set, sequence, generator, or any other object that can return its elements one at a time.
- `if (condition==True)` The item will be placed in the newlist only if the condition evaluates to True

In [214]:
list1 = [1, 9, 12, 88, 65, 7, 20, 55, 47, 32]
new = []
for i in list1:
    if  i%2==0:
        new.append(i)
new

[12, 88, 20, 32]

In [215]:
new1 = [i for i in list1 if (i%2==0)]
new1

[12, 88, 20, 32]

In [59]:
list1 = [1, 9, 12, 88, 65, 7, 20, 55, 47, 32]
newlist = []

for i in list1:
    if (i%2 == 0):
        newlist.append(i)
newlist

[12, 88, 20, 32]

In [60]:
list1 = [1, 9, 12, 88, 65, 7, 20, 55, 47, 32]

newlist = [i for i in list1 if (i % 2 == 0)]

newlist

[12, 88, 20, 32]

**Example 3:** Suppose we want to create a `newlist` from an existing list of `fruits` such that the new list should contain only those fruits having alphabet **`a`** in their name
```newlist = [expression for item in iterable if (condition == True)]```

A list comprehension in Python can have four elements:
- `expression` is the member itself, a call to a method, or any other valid expression that returns a value. 
- `item` is the object or value in the list or iterable.
- `iterable` is a list, set, sequence, generator, or any other object that can return its elements one at a time.
- `if (condition)` The item will be placed in the newlist only if the condition evaluates to true

In [216]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new2 = []
for i in fruits:
    if 'a' in i:
        new2.append(i)
new2

['apple', 'banana', 'mango']

In [217]:
new3 = [i for i in fruits if 'a' in i]
new3

['apple', 'banana', 'mango']

In [41]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for fruit in fruits:
    if "a" in fruit:
        newlist.append(fruit)

print(newlist)

['apple', 'banana', 'mango']

In [62]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fruit for fruit in fruits if ("a" in fruit)]

print(newlist)

['apple', 'banana', 'mango']

**Example 4:** Create a `newlist` from an existing list of `fruits` such that the new list should contain all elements less "kiwi". Use List Comprehension

In [63]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fruit for fruit in fruits if (fruit != "kiwi")]

print(newlist)

['apple', 'banana', 'cherry', 'mango']

## 4. Dictionary Comprehension
- Dictionary comprehension is a concise way to create a new dictionary based on the values of an existing list or dictionary.

- Let us understand Dictionary comprehension step by step with examples:
```
newdict = {key:value for var in iterable if (condition == True)}
```
- Note for list comprehension we use `[  ]`, while for dictionary comprehension we use `{  }`

**Example 1:** Suppose we have a list containing some random numbers. We want to create a dictionary having keys of that list and values as cubes of the list values

In [220]:
list1 = [1, 2, 3, 4, 5]
dict1 = {}
for i in list1:
    dict1[i] = i**3
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [221]:
list1 = [1, 2, 3, 4, 5,6]

dict1 = {key: key**3 for key in list1}

print (dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

**Example 2:** Suppose we have a list containing numbers from 1 to 10. We want to create a dictionary having dictionary keys as the values of that list and dictionary values as cubes of the values in the list. However, the dictionary should contain only those key:value pairs, where the dictionary values are divisible by 4

In [225]:
list2 = range(11)
dict2 = {}
for i in list2:
    if i**3%4==0:
        dict2[i] = i**3
dict2

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [224]:
list1 = range(11)

dict1 = {key: key**3 for key in list1 if key**3 % 4 == 0}

print(dict1)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

**Example 3:** Suppose we have a dictionary containing some grossary items and their prices. 
```
dict1 = {'milk': 120.0, 'choclate': 45.0, 'bread': 80.0}
```
Use dictionary comprehension to create a new dictionary with increased prices by 25%

In [226]:

dict1 = {'milk': 120.0, 'choclate': 45.0, 'bread': 80.0}
increase = 1.25

dict2 = {key: value*increase for (key, value) in dict1.items()}

print(dict2)

{'milk': 150.0, 'choclate': 56.25, 'bread': 100.0}

In [228]:
dict1
dict4 = {}
for i,j in dict1.items():
    dict4[i] = j*increase
dict4

{'milk': 150.0, 'choclate': 56.25, 'bread': 100.0}

**Example 4:** Suppose we have a dictionary 
```
dict1 = {'alpha': 47, 'bravo': 84, 'charlie': 79, 'delta': 92}
```

Use Dictionary comprehension to create a new dictionary containing even values only

In [1]:

dict1 = {'alpha': 47, 'bravo': 84, 'charlie': 79, 'delta': 92}

dict2 = {key: value for (key, value) in dict1.items() if value % 2 == 0}
print(dict2)

{'bravo': 84, 'delta': 92}

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is iteration or looping in programming languages? Why is it useful?
2. What are the two ways for performing iteration in Python?
3. What is the purpose of the `while` statement in Python?
4. What is the syntax of the `while` statement in Python? Give an example.
5. Write a program to compute the sum of the numbers 1 to 100 using a while loop. 
6. Repeat the above program for numbers up to 1000, 10000, and 100000. How long does it take each loop to complete?
7. What is an infinite loop?
8. What causes a program to enter an infinite loop?
9. How do you interrupt an infinite loop within Jupyter?
10. What is the purpose of the `break` statement in Python? 
11. Give an example of using a `break` statement within a while loop.
12. What is the purpose of the `continue` statement in Python?
13. Give an example of using the `continue` statement within a while loop.
15. What is the purpose of the `for` statement in Python?
16. What is the syntax of `for` loops? Give an example.
17. How are for loops and while loops different?
18. How do you loop over a string? Give an example.
19. How do you loop over a list? Give an example.
20. How do you loop over a tuple? Give an example.
21. How do you loop over a dictionary? Give an example.
22. What is the purpose of the `range` statement? Give an example.
23. What is the purpose of the `enumerate` statement? Give an example.
24. How are the `break`, `continue`, and `pass` statements used in for loops? Give examples.
25. Can loops be nested within other loops? How is nesting useful?
26. Give an example of a for loop nested within another for loop.
27. Give an example of a while loop nested within another while loop.
28. Give an example of a for loop nested within a while loop.
29. Give an example of a while loop nested within a for loop.

In [229]:
i= 1
Sum = 0
while i<=100:
    Sum = Sum+i
    i = i +1
print("Sum of first 100 numbers is : ", Sum)

Sum of first 100 numbers is :  5050