---   

<h1 align="center">Introduction to Data Analyst and Data Science for beginners</h1>
<h1 align="center">Lecture no 2.3(NumPy-03)</h1>

---
<h3><div align="right">Ehtisham Sadiq</div></h3>

# _Basic Operations on NumPy Arrays.ipynb_

<img align="center" width="500" height="500"  src="images/basicopsonnumpy.png" >

### Recap:
- In last lectures, we saw different methods/ways to create numpy array.
- We also saw the difference between numpy array, python List and Python array.

### Baseline of this Lecture:
- We will use diffferent numpy operations without using any loop.
- By using these operations , we will be able to explore our mathematical and statistical skills.

# Learning agenda of this notebook
- Operations on numPy arrays are done element-wise. This means that you don't explicitly have to write for-loops in order to do these operations!
- A universal function, or ufunc, is a function that performs element-wise operations on data in ndarrays. You can think of them as fast vectorized wrappers for simple functions that take one or more scalar values and produce one or more scalar results.


<img align="left" width="450" height="400"  src="images/ufuncunary.png" > 
<img align="right" width="485" height="500"  src="images/ufuncbinary.png" > 

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

1. Scalar Math
    - On 1-D Arrays
    - On 2-D Arrays
2. Arithmetic operations
    - On 1-D Arrays
    - On 2-D Arrays
3. More Mathematical Operations
    - On 1-D Arrays
    - On 2-D Arrays
4. Aggregate Functions
    - On 1-D Arrays
    - On 2-D Arrays
5. Comparing NumPy Arrays
    - On 1-D Arrays
    - On 2-D Arrays
6. Bonus: Searching 1-D and 2-D NumPy Arrays using `numpy.where()`

In [ ]:
# To install this library in Jupyter notebook
import sys
!{sys.executable} -m pip install numpy

In [1]:
import numpy as np
np.__version__ , np.__path__

('1.22.3', ['/home/dell/.local/lib/python3.8/site-packages/numpy'])

## 1. Scalar Math

### a. Scalar Math on 1-D Arrays

In [ ]:
import numpy as np
# Create a 1-D array having 4 random integers from 1 to 9
arr = np.random.randint(1,10, size=4)
print("arr: ", arr)

# After the operation a new `ndarray` is returned
print("np.add(arr,2): ",      arr + 2)            # np.add(arr, 2))
print("np.subtract(arr,2): ", arr - 2)            # np.subtract(arr, 2))
print("np.multiply(arr,2): ", arr * 2)            # np.multiply(arr, 2))
print("np.divide(arr,2): ",   arr / 2)            # np.divide(arr, 2))
print("np.mod(arr,2): ",      arr % 2)            # np.mod(arr, 2))

arr3 = arr + 9
print(id(arr), id(arr3))

### b. Scalar Math on 2-D Arrays

In [ ]:
import numpy as np
# Create a 2x2 matrix with random integers  between 1 to 9
matrix = np.random.randint(1,10, size=(2, 2))
print("Original matrix:\n", matrix)

# # After the operation a new `ndarray` is returned
# print("np.add(matrix,2): \n",      matrix + 2)            # np.add(matrix, 2))
# print("np.subtract(matrix,2): \n", matrix - 2)            # np.subtract(matrix, 2))
# print("np.multiply(matrix,2): \n", matrix * 2)            # np.multiply(matrix, 2))
# print("np.divide(matrix,2): \n",   matrix / 2)            # np.divide(matrix, 2))
# print("np.mod(matrix,2): \n",      matrix % 2)            # np.mod(matrix, 2))

In [ ]:
# After the operation a new `ndarray` is returned
print("np.add(matrix,2): \n",      matrix + 2)            # np.add(matrix, 2))
print("np.subtract(matrix,2): \n", matrix - 2)            # np.subtract(matrix, 2))
print("np.multiply(matrix,2): \n", matrix * 2)            # np.multiply(matrix, 2))
print("np.divide(matrix,2): \n",   matrix / 2)            # np.divide(matrix, 2))
print("np.mod(matrix,2): \n",      matrix % 2)            # np.mod(matrix, 2))

## 2. Arithmetic Operations

### a. Arithmetic Operations on 1-D Arrays

In [9]:
import numpy as np
# Create two 1-D arrays each having 4 random integers from 1 to 9
arr1 = np.random.randint(1,10, size=4)
arr2 = np.random.randint(1,10, size=4)
print("arr1: ", arr1)
print("arr2: ", arr2)

arr1:  [2 4 5 8]
arr2:  [9 7 9 2]

In [10]:
# After the operation a new `ndarray` is returned
print("np.add(arr1, arr2) = ",      arr1 + arr2)     # np.add(arr1, arr2)
print("np.subtract(arr1, arr2) = ", arr1 - arr2)     # np.subtract(arr1, arr2)
print("np.multiply(arr1, arr2) = ", arr1 * arr2)     # np.multiply(arr1, arr2)
print("np.divide(arr1, arr2) = ",   arr1  / arr2)    # np.divide(arr1, arr2)
print("np.mod(arr1, arr2) = ",      arr1  % arr2)    # np.mod(arr1, arr2) # np.remainder(arr1, arr2)

np.add(arr1, arr2) =  [11 11 14 10]
np.subtract(arr1, arr2) =  [-7 -3 -4  6]
np.multiply(arr1, arr2) =  [18 28 45 16]
np.divide(arr1, arr2) =  [0.22222222 0.57142857 0.55555556 4.        ]
np.mod(arr1, arr2) =  [2 4 5 0]

### b. Arithmetic Operations on 2-D Arrays

In [11]:
import numpy as np
# Create a 2x2 matrix with random integers  between 1 to 9
matrix1 = np.random.randint(1,10, size=(2, 2))
matrix2 = np.random.randint(1, 10, size=(2, 2))
print("matrix1: \n", matrix1)
print("matrix2: \n", matrix2)

matrix1:
 [[6 9]
 [3 4]]
matrix2:
 [[1 8]
 [6 2]]

In [12]:
# After the operation a new `ndarray` is returned
print("np.add(matrix1 , matrix2) = \n",      matrix1 + matrix2) # np.add(matrix1 , matrix2)
print("np.subtract(matrix1 , matrix2) = \n", matrix1 - matrix2) # np.subtract(matrix1 , matrix2)
print("np.multiply(matrix1 , matrix2) = \n", matrix1 * matrix2) # np.multiply(matrix1 , matrix2)
print("np.divide(matrix1 , matrix2) = \n",   matrix1 / matrix2) # np.divide(matrix1 , matrix2)
print("np.mod(matrix1 , matrix2) = \n",      matrix1 % matrix2) # np.remainder(matrix1 , matrix2)

np.add(matrix1 , matrix2) =
 [[ 7 17]
 [ 9  6]]
np.subtract(matrix1 , matrix2) =
 [[ 5  1]
 [-3  2]]
np.multiply(matrix1 , matrix2) =
 [[ 6 72]
 [18  8]]
np.divide(matrix1 , matrix2) =
 [[6.    1.125]
 [0.5   2.   ]]
np.mod(matrix1 , matrix2) =
 [[0 1]
 [3 0]]

## 3. More Mathematical Operations

### a. Mathematical Operations on 1-D Array

In [16]:
# Creating 1-D array of 5 elements of random floats between 1 and 10
arr = np.random.randn(5)*10
print("Original ndarray: ", arr)

Original ndarray:  [ 7.33782623 -1.74813738 -6.72912821  2.00142176 -5.62653831]

In [41]:
# After the operation a new `ndarray` is returned, which is a copy of the original array with the operation performed

print("np.abs(arr) = ", np.abs(arr))
print("np.abs(arr) = ", np.fabs(arr))

print("np.square(arr) = ", np.square(arr))
print("np.sqrt(arr) = ", np.sqrt(np.abs(arr)))
print("np.cbrt(arr) = ", np.cbrt(arr))
print("np.log(arr) = ", np.log(np.abs(arr)))
print("np.log2(arr) = ", np.log2(np.abs(arr)))
print("np.log10(arr) = ", np.log10(np.abs(arr)))
print("np.isnan(arr) = ", np.isnan(arr))
print("np.ceil(arr) = ", np.ceil(arr))
print("np.floor(arr) = ", np.floor(arr))
print("np.cumsum(arr) = ", np.cumsum(arr))

np.abs(arr) =  [7.33782623 1.74813738 6.72912821 2.00142176 5.62653831]
np.abs(arr) =  [7.33782623 1.74813738 6.72912821 2.00142176 5.62653831]
np.square(arr) =  [53.84369379  3.05598428 45.28116649  4.00568905 31.65793332]
np.sqrt(arr) =  [2.70884223 1.32217146 2.59405632 1.41471614 2.37203253]
np.cbrt(arr) =  [ 1.94322225 -1.20464344 -1.88793165  1.26021953 -1.77860876]
np.log(arr) =  [1.99304264 0.55855086 1.9064456  0.69385781 1.72749439]
np.log2(arr) =  [2.87535274 0.80581856 2.75041961 1.00102522 2.49224759]
np.log10(arr) =  [0.86556742 0.24257556 0.8279588  0.30133862 0.75024128]
np.isnan(arr) =  [False False False False False]
np.ceil(arr) =  [ 8. -1. -6.  3. -5.]
np.floor(arr) =  [ 7. -2. -7.  2. -6.]
np.cumsum(arr) =  [ 7.33782623  5.58968886 -1.13943936  0.8619824  -4.76455591]

### b. Mathematical Operations on 2-D Array

In [44]:
import numpy as np
# Create a 2x2 matrix with random integers  between 1 to 9
matrix = np.random.randint(1,10, size=(2, 2))
print("matrix: \n", matrix)

matrix:
 [[2 9]
 [5 7]]

In [48]:

# After the operation a new `ndarray` is returned, 
#which is a copy of the original array with the operation performed
print("np.square(matrix) = \n", np.square(matrix))
print("np.sqrt(matrix) = \n", np.sqrt(matrix))
print("np.log2(matrix) = \n", np.log2(matrix))
print("np.isnan(matrix) = \n", np.isnan(matrix))
print("np.ceil(matrix) = \n", np.ceil(matrix))
print("np.floor(matrix) = \n", np.floor(matrix))
print("np.cumsum(matrix) = \n", np.cumsum(matrix))

np.square(matrix) =
 [[ 4 81]
 [25 49]]
np.sqrt(matrix) =
 [[1.41421356 3.        ]
 [2.23606798 2.64575131]]
np.log2(matrix) =
 [[1.         3.169925  ]
 [2.32192809 2.80735492]]
np.isnan(matrix) =
 [[False False]
 [False False]]
np.ceil(matrix) =
 [[2. 9.]
 [5. 7.]]
np.floor(matrix) =
 [[2. 9.]
 [5. 7.]]
np.cumsum(matrix) =
 [ 2 11 16 23]

## 4. Aggregate Functions

### a. Aggregate Functions on 1-D Arrays

In [50]:
# Create a 1-D array having 5 random integers from 1 to 9
arr = np.random.randint(1, 10, size=5)
print("arr: ", arr)

arr:  [1 7 9 3 6]

In [56]:
# After the operation a new `ndarray` is returned, which is a copy of the original array with the operation performed
print("np.min(arr) = ",     np.min(arr))
print("np.max(arr) = ",     np.max(arr))
print("np.sum(arr) = ",     np.sum(arr))
print("np.prod(arr) = ", np.prod(arr))

np.min(arr) =  1
np.max(arr) =  9
np.sum(arr) =  26
np.prod(arr) =  1134

In [57]:
# Create a 1-D array having 5 random integers from 1 to 9
arr = np.random.randint(1, 10, size=5)
print("arr: ", arr)

arr:  [8 8 2 6 9]

In [63]:
#Arithmetic mean is the sum of elements along an axis divided by the number of elements. 
print("np.mean(arr) = ",    np.mean(arr))

# The np.average() function computes the weighted average, by multiplying of each array element by its weight
# The np.average() is same as np.mean(), when weight is not specified
print("np.average(arr) = ", np.average(arr))

# Considering an array [1,2,3,4] and corresponding weights [4,3,2,1], the weighted average is calculated by 
# adding the product of the corresponding elements and dividing the sum by the sum of weights.
#             Weighted average = (1*4+2*3+3*2+4*1)/(4+3+2+1)

arr1 = np.array([1,2,3,4])
wts = np.array([4,3,2,1])
print("\narr1: ", arr1)
print("wts:  ", wts)
print("np.average(arr1, weights=wts) = ", np.average(arr1, weights= wts))
print("np.mean(arr) = ",    np.mean(arr1))

np.mean(arr) =  6.6
np.average(arr) =  6.6

arr1:  [1 2 3 4]
wts:   [4 3 2 1]
np.average(arr1, weights=wts) =  2.0
np.mean(arr) =  2.5

In [64]:
# Create a 1-D array having 10 random integers from 1 to 99
arr = np.random.randint(1, 100, size=10)
print("arr: ", arr)

arr:  [21 15 70 86 32 28 40 34 40 91]

In [71]:
# Median is the value separating the higher half of a data sample from the lower half.
print("np.median(arr) = ",  np.median(arr))

# Percentile is the value below which a given percentage of observations in a group of observations fall.
# 50th percentile is the score at or below which 50% of the scores in the distribution may be found.
print("np.percentile(arr,50) = ",     np.percentile(arr,50))
print("np.percentile(arr,0) = ",     np.percentile(arr,0))
print("np.percentile(arr,100) = ",     np.percentile(arr,100))
print("np.percentile(arr,75) = ",     np.percentile(arr,75))


# The variance measures the average degree to which each point differs from the mean
# Variance is calculated as the average of squared deviations from mean, i.e., mean((x - x.mean())**2).
print("np.var(arr) = ",    np.var(arr))


# Standard deviation checks how spread out a group of numbers is from the mean
# It is the square root of variance: sqrt(mean((x - x.mean())**2))
print("np.std(arr) = ",    np.std(arr))

np.median(arr) =  37.0
np.percentile(arr,50) =  37.0
np.percentile(arr,0) =  15.0
np.percentile(arr,100) =  91.0
np.percentile(arr,75) =  62.5
np.var(arr) =  652.21
np.std(arr) =  25.538402455909416

### b. Aggregate Functions on 2-D Arrays

In [74]:
import numpy as np
# Create a 3x3 (2-D array) initialized with random integers from 1 to 9
matrix = np.random.randint(1,10, size=(3, 3))
print("matrix: \n", matrix)

print("np.sum(matrix, axis=0) = ",     np.sum(matrix, axis=0))
print("np.sum(matrix, axis=1) = ",     np.sum(matrix, axis=1))

# Here axis=0 represents, all operations according to columns.
# Here axis=1 represents, all operations according to rows.
# When we perform aggregate functions on 2-D arrays, then we must pass axis argument.

matrix:
 [[7 3 5]
 [6 7 7]
 [7 8 8]]
np.sum(matrix, axis=0) =  [20 18 20]
np.sum(matrix, axis=1) =  [15 20 23]

In [75]:
# Create a 3x3 (2-D array) initialized with random integers from 1 to 9
matrix = np.random.randint(1,10, size=(3, 3))
print("matrix: \n", matrix)

print("np.min(matrix, axis=0) = ",     np.min(matrix, axis=0))
print("np.min(matrix, axis=1) = ",     np.min(matrix, axis=1))

matrix:
 [[7 5 1]
 [7 7 2]
 [9 4 8]]
np.min(matrix, axis=0) =  [7 4 1]
np.min(matrix, axis=1) =  [1 2 4]

In [76]:
# Create a 3x3 (2-D array) initialized with random integers from 1 to 9
matrix = np.random.randint(1,10, size=(3, 3))
print("matrix: \n", matrix)


print("np.mean(matrix, axis=0) = ",     np.mean(matrix, axis=0))
print("np.mean(matrix, axis=1) = ",     np.mean(matrix, axis=1))

matrix:
 [[8 2 1]
 [9 7 6]
 [2 8 4]]
np.mean(matrix, axis=0) =  [6.33333333 5.66666667 3.66666667]
np.mean(matrix, axis=1) =  [3.66666667 7.33333333 4.66666667]

In [77]:
# Create a 3x3 (2-D array) initialized with random integers from 1 to 9
matrix = np.random.randint(1,10, size=(3, 3))
print("matrix: \n", matrix)

# Median is the value separating the higher half of a data sample from the lower half.
print("np.median(matrix, axis=0) = ",     np.median(matrix, axis=0))
print("np.median(matrix, axis=1) = ",     np.median(matrix, axis=1))

matrix:
 [[5 9 7]
 [1 1 7]
 [9 2 5]]
np.median(matrix, axis=0) =  [5. 2. 7.]
np.median(matrix, axis=1) =  [7. 1. 5.]

Please do practice calculating the percentile, variance and standard deviation along different axis of a 2-D array

## 5. Comparing NumPy Arrays

### a. Comparing NumPy 1-D Arrays
- Returns a Boolean numpy array containing True/False after doing element wise comparison

In [82]:
import numpy as np
# Create two 1-D arrays each having 4 random integers from 1 to 9
arr1 = np.random.randint(1,10, size=4)
arr2 = np.random.randint(1,10, size=4)
print("arr1: ", arr1)
print("arr2: ", arr2)

arr1:  [8 1 4 4]
arr2:  [1 2 7 4]

In [88]:

print("np.equal(arr1, arr2) = ",      arr1 == arr2)      # np.equal(arr1, arr2)
print("np.not_equal(arr1, arr2) = ",  arr1 != arr2)      # np.not_equal(arr1, arr2)

print("np.greater(arr1, arr2) = ",      arr1 > arr2)     # np.greater(arr1, arr2)
print("np.greater_equal(arr1, arr2) = ",  arr1 >= arr2)  # np.greater_equal(arr1, arr2)

print("np.less(arr1, arr2) = ",      arr1 < arr2)        # np.less(arr1, arr2)
print("np.less_equal(arr1, arr2) = ",  arr1 <= arr2)     # np.less_equal(arr1, arr2)

np.equal(arr1, arr2) =  [False False False  True]
np.not_equal(arr1, arr2) =  [ True  True  True False]
np.greater(arr1, arr2) =  [ True False False False]
np.greater_equal(arr1, arr2) =  [ True False False  True]
np.less(arr1, arr2) =  [False  True  True False]
np.less_equal(arr1, arr2) =  [False  True  True  True]

### b. Comparing NumPy 2-D Arrays

In [89]:
import numpy as np
# Create a 2x2 matrix with random integers  between 1 to 9
matrix1 = np.random.randint(1,10, size=(2, 2))
matrix2 = np.random.randint(1, 10, size=(2, 2))
print("matrix1: \n", matrix1)
print("matrix2: \n", matrix2)

matrix1:
 [[9 8]
 [4 2]]
matrix2:
 [[2 3]
 [9 1]]

In [90]:


print("np.equal(matrix1, matrix2) = \n",        matrix1 == matrix2)     
print("np.not_equal(matrix1, matrix2) = \n",    matrix1 != matrix2)     

print("np.greater(matrix1, matrix2) = \n",      matrix1 > matrix2)    
print("np.greater_equal(matrix1, matrix2) = \n",matrix1 >= matrix2) 

print("np.less(matrix1, matrix2) = \n",         matrix1 < matrix2)       
print("np.less_equal(matrix1, matrix2) = \n",   matrix1 <= matrix2)

np.equal(matrix1, matrix2) =
 [[False False]
 [False False]]
np.not_equal(matrix1, matrix2) =
 [[ True  True]
 [ True  True]]
np.greater(matrix1, matrix2) =
 [[ True  True]
 [False  True]]
np.greater_equal(matrix1, matrix2) =
 [[ True  True]
 [False  True]]
np.less(matrix1, matrix2) =
 [[False False]
 [ True False]]
np.less_equal(matrix1, matrix2) =
 [[False False]
 [ True False]]

## 6. Searching NumPy Arrays using `numpy.where()`

### a. Searching NumPy 1-D Arrays

- The `numpy.where()` method is used to search NumPy arrays for the index values of any element which matches the condition passed as a parameter to the function.
```
numpy.where(condition, [x, y])
```
    - condition : When True, yield x, otherwise yield y. If x and y are not given just return the value of the array
    - Returns: ndarray or tuple of ndarrays. If both x and y are specified, the output array contains elements of x where condition is True, and elements from y elsewhere.

In [91]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 4, 4, 9, 2, 3, 8])
t1 = np.where(arr == 4)
print(t1)

(array([3, 5, 6]),)

Note: The result is a tuple of 1-D arrays having a single tuple containing the index

In [92]:
import numpy as np
arr = np.array([1, 0, 3, 9, 5, 2, 0, 8])
t1 = np.where(arr == 0)
print(t1)

(array([1, 6]),)

In [93]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
t1 = np.where(arr%2 == 0)
print(t1)

(array([1, 3, 5, 7]),)

In [94]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
t1 = np.where(arr%2 == 0, 'yes', 'no')
print(t1)

['no' 'yes' 'no' 'yes' 'no' 'yes' 'no' 'yes']

In [95]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
t1 = np.where(arr%2 == 0, True, False)
print(t1)

[False  True False  True False  True False  True]

Note: The result is a simple 1-D array, when you use the x and y arguments to `np.where()`

### b. Searching NumPy 2-D Arrays

- The `numpy.where()` method is used to search NumPy arrays for the index values of any element which matches the condition passed as a parameter to the function.
```
numpy.where(condition, [x, y])
```
    - condition : When True, yield x, otherwise yield y. If x and y are not given just return the value of the array
    - Returns: ndarray or tuple of ndarrays. If both x and y are specified, the output array contains elements of x where condition is True, and elements from y elsewhere.

In [97]:
import numpy as np
matrix = np.array([[1, 2, 3], [4, 5, 4], [4, 9, 2], [3, 8, 6]])
print("matrix: \n", matrix)
t1 = np.where(matrix == 4)
print(t1)

matrix:
 [[1 2 3]
 [4 5 4]
 [4 9 2]
 [3 8 6]]
(array([1, 1, 2]), array([0, 2, 0]))

**Note:** The result is a tuple of 1-D arrays having two tuples. The condition is true for three elements at indices `(1,0)`, `(1,2)` and `(2,0)`

In [99]:
import numpy as np
matrix = np.array([[1, 2, 0], [4, 5, 0], [4, 9, 2], [3, 0, 6]])
print("matrix: \n", matrix)
t1 = np.where(matrix == 0)
print(t1)

matrix:
 [[1 2 0]
 [4 5 0]
 [4 9 2]
 [3 0 6]]
(array([0, 1, 3]), array([2, 2, 1]))

**Note:** The result is a tuple of 1-D arrays having two tuples. The condition is true for three elements at indices:
`(0,2)`, `(1,2)` and `(3,1)`

In [101]:
import numpy as np
matrix = np.array([[1, 2, 3], [5, 7, 3], [4, 9, 1], [3, 5, 3]])
print("matrix: \n", matrix)
t1 = np.where(matrix%2 == 0)
print(t1)

matrix:
 [[1 2 3]
 [5 7 3]
 [4 9 1]
 [3 5 3]]
(array([0, 2]), array([1, 0]))

**Note:** The result is a tuple of 1-D arrays having two tuples. The condition is true for two elements at indices:
`(0,2)` and `(1,0)`

In [102]:
import numpy as np
matrix = np.array([[1, 2, 3], [5, 7, 3], [4, 9, 1], [3, 5, 3]])
print("matrix: \n", matrix)
t1 = np.where(matrix%2 == 0, True, False)
print(t1)

matrix:
 [[1 2 3]
 [5 7 3]
 [4 9 1]
 [3 5 3]]
[[False  True False]
 [False False False]
 [ True False False]
 [False False False]]

**Note:** The result is a simple 2-D array, when you use the `x` and `y` arguments to `np.where()`

## Check Your Concepts:
- What is the purpose of `random.randint` function?
- Create a numpy array of 10 random numbers between `-10 to +10`, and find median, std, and mean of numpy array.
- After performing scalar operations on `1-D array`, what is the return type of new array?

In [104]:
a = np.random.randint(-10,10,10)
a

array([ 8,  1, -9, -9, -8,  4,  4,  7, -6, -6])

In [107]:
np.median(a), np.std(a), np.mean(a)

(-2.5, 6.514598989960932, -1.4)

### NumPy Basic: Exercises and Practice with Solution

#### Write a NumPy program to get the numpy version and show numpy build configuration.

In [109]:
import numpy as np
print("Numpy version : ", np.__version__)
print("Numpy configuration : ")
# np.show_config()

Numpy version :  1.22.3
Numpy configuration :

#### Write a NumPy program to  get help on the add function.

In [ ]:
# First Method
# help(np.add)

# Second Method
np.info(np.add)

#### Write a NumPy program to test whether none of the elements of a given array is zero.

In [129]:
# First method
array = np.array([3,4,0,5,7,7,8,7,87,98,98,12])
for i in array:
    if i==0:
        print("Zero is present in given array!")
        break
else:
    print("Zero is not present in given array!")

Zero is present in given array!

In [133]:
# Second Method
array = np.array([3,4,5,7,7,8,7,87,98,98,12])
print("Original array : ")
print(array)
x  = np.all(array)
print("Test if none of the elements of the said array is zero:", x)

Original array :
[ 3  4  5  7  7  8  7 87 98 98 12]
Test if none of the elements of the said array is zero: True

In [134]:
array1 = np.array([3,4,0,5,7,7,8,7,87,0,98,12])
print("Original array : ", array1)
print("Test if none of the elements of the said array is zero:",np.all(array1))

Original array :  [ 3  4  0  5  7  7  8  7 87  0 98 12]
Test if none of the elements of the said array is zero: False

#### Write a NumPy program to test whether any of the elements of a given array is non-zero.
<img src="images/numpy-basic-image-exercise-4.png" height=400px width=400px>

In [135]:
# First Method 
array = np.array([3,4,0,5,7,7,8,7,87,0,98,12])
array2 = np.zeros(shape=10)
for i in array2:
    if i!=0:
        print("Non-zero element is present in the given array!")
        break
else:
    print("No non-zero element is presenr in the given array!")

No non-zero element is presenr in the given array!

In [136]:
# second method
print("Original array : ", array)
print("Test if none of the elements of the said array is non-zero:",np.any(array))
print("Test if none of the elements of the said array is non-zero:",np.any(array2))

Original array :  [ 3  4  0  5  7  7  8  7 87  0 98 12]
Test if none of the elements of the said array is non-zero: True
Test if none of the elements of the said array is non-zero: False

## Questions on NumPy Mathematics
- How to get element-wise true division of an array using Numpy?(Hint : np.true_divide(array,scalar))
- How to calculate the element-wise absolute value of NumPy array?(Hint : np.absolute(array))
- Compute the negative of the NumPy array(Hint : np.negative(array) / -array)
- Computes the inner product of two arrays(Hint : np.dot(array1, array2))
- Compute the nth percentile of the NumPy array(Hint : np.percentile(array, nthper))
- Calculate the n-th order discrete difference along the given axis
- Calculate the sum of all columns in a 2D NumPy array(Hint : np.sum(axis))
- Calculate average values of two given NumPy arrays(Hint : (a+b)/2)
- How to get the floor, ceiling and truncated values of the elements of a numpy array?
- How to round elements of the NumPy array to the nearest integer?(Hint : np.rint())
- Find the round off the values of the given matrix.(Hint :  matrix.round())
- Determine the positive square-root of an array.

### Question no 01 : 
**Calculate the n-th order discrete difference along the given axis.**
- **numpy.diff(arr[, n[, axis]])** function is used when we calculate the n-th order discrete difference along the given axis. The first order difference is given by `out[i] = arr[i+1] – arr[i]` along the given axis. If we have to calculate higher differences, we are using diff recursively.

   - `Syntax: numpy.diff()`
   - Parameters:       
    `arr` : [array_like] Input array.               
    `n` : [int, optional] The number of times values are differenced.          
    `axis` : [int, optional] The axis along which the difference is taken, default is the last axis.            
    `Returns` : [ndarray]The n-th discrete difference. The output is the same as a except along axis where the dimension is smaller by n.

## Questions on NumPy Statistics
- Compute the median of the flattened NumPy array
- Find Mean of a List of Numpy Array
- Calculate the mean of array ignoring the NaN value(Hint : np.nanmean())
- Get the mean value from given matrix
- Compute the variance of the NumPy array
- Compute the standard deviation of the NumPy array
- Compute pearson product-moment correlation coefficients of two given NumPy arrays(Hint : np.corrcoef(x, y))
- Calculate the mean across dimension in a 2D NumPy array(Hint : np.mean(axis))
- Calculate the average, variance and standard deviation in Python using NumPy

### Bonus Part:
**Conversion of 2D- NumPy Array into Pandas DataFrame and gives descriptive view of NumPy Array in along both dimensions/axises.**

In [202]:
# create an array of 10x10 of random integers in range of 10-100. After that, gives a descriptive view of array
array = np.random.randint(10,100,(10,10))
array

array([[76, 51, 36, 33, 84, 38, 13, 24, 37, 63],
       [25, 91, 43, 55, 65, 53, 60, 96, 73, 45],
       [83, 55, 83, 15, 83, 47, 87, 22, 45, 72],
       [19, 44, 85, 88, 85, 45, 13, 20, 23, 77],
       [11, 12, 69, 38, 27, 91, 11, 26, 82, 41],
       [96, 29, 89, 75, 72, 75, 12, 45, 98, 20],
       [60, 16, 10, 37, 28, 72, 89, 75, 68, 45],
       [79, 42, 14, 73, 44, 92, 48, 21, 15, 69],
       [74, 21, 83, 51, 68, 64, 39, 64, 77, 82],
       [84, 65, 20, 18, 95, 27, 11, 59, 86, 80]])

In [209]:
import pandas as pd
cols_des = pd.DataFrame(array)
print("DataFrame : ")
cols_des

DataFrame :

    0   1   2   3   4   5   6   7   8   9
0  76  51  36  33  84  38  13  24  37  63
1  25  91  43  55  65  53  60  96  73  45
2  83  55  83  15  83  47  87  22  45  72
3  19  44  85  88  85  45  13  20  23  77
4  11  12  69  38  27  91  11  26  82  41
5  96  29  89  75  72  75  12  45  98  20
6  60  16  10  37  28  72  89  75  68  45
7  79  42  14  73  44  92  48  21  15  69
8  74  21  83  51  68  64  39  64  77  82
9  84  65  20  18  95  27  11  59  86  80

In [210]:
print("Descriptive view of NumPy Array along columns : ")
cols_des.describe()

Descriptive view of NumPy Array along columns :

,0,1,2,3,4,5,6,7,8,9
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,60.700000,42.600000,53.200000,48.300000,65.100000,60.400000,38.300000,45.200000,60.400000,59.400000
std,30.760906,24.418572,32.013192,24.599232,24.259935,22.071601,31.570204,27.058784,28.426123,20.586943
min,11.000000,12.000000,10.000000,15.000000,27.000000,27.000000,11.000000,20.000000,15.000000,20.000000
25%,33.750000,23.000000,24.000000,34.000000,49.250000,45.500000,12.250000,22.500000,39.000000,45.000000
50%,75.000000,43.000000,56.000000,44.500000,70.000000,58.500000,26.000000,35.500000,70.500000,66.000000
75%,82.000000,54.000000,83.000000,68.500000,83.750000,74.250000,57.000000,62.750000,80.750000,75.750000
max,96.000000,91.000000,89.000000,88.000000,95.000000,92.000000,89.000000,96.000000,98.000000,82.000000

In [211]:
rows_des = pd.DataFrame(array.T)
print("DataFrame : ")
rows_des

DataFrame :

    0   1   2   3   4   5   6   7   8   9
0  76  25  83  19  11  96  60  79  74  84
1  51  91  55  44  12  29  16  42  21  65
2  36  43  83  85  69  89  10  14  83  20
3  33  55  15  88  38  75  37  73  51  18
4  84  65  83  85  27  72  28  44  68  95
5  38  53  47  45  91  75  72  92  64  27
6  13  60  87  13  11  12  89  48  39  11
7  24  96  22  20  26  45  75  21  64  59
8  37  73  45  23  82  98  68  15  77  86
9  63  45  72  77  41  20  45  69  82  80

In [212]:
rows_des.describe()

,0,1,2,3,4,5,6,7,8,9
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,45.500000,60.600000,59.200000,49.900000,40.800000,61.100000,50.000000,49.700000,62.300000,54.500000
std,22.711965,21.757247,26.544721,30.989066,29.880503,32.063999,26.849374,27.809071,19.955784,32.411418
min,13.000000,25.000000,15.000000,13.000000,11.000000,12.000000,10.000000,14.000000,21.000000,11.000000
25%,33.750000,47.000000,45.500000,20.750000,15.500000,33.000000,30.250000,26.250000,54.250000,21.750000
50%,37.500000,57.500000,63.500000,44.500000,32.500000,73.500000,52.500000,46.000000,66.000000,62.000000
75%,60.000000,71.000000,83.000000,83.000000,62.000000,85.500000,71.000000,72.000000,76.250000,83.000000
max,84.000000,96.000000,87.000000,88.000000,91.000000,98.000000,89.000000,92.000000,83.000000,95.000000

In [214]:
# rows_des.info()

# NumPy - Assignment no 03
- Here is link of [NumPy - Assignment no 03](https://www.kaggle.com/code/ehtishamsadiq/numpy-assignment-no-03)