---   

<h1 align="center">Introduction to Data Analyst and Data Science for beginners</h1>
<h1 align="center">Lecture no 2.18(Pandas-09)</h1>

---
<h3><div align="right">Ehtisham Sadiq</div></h3>

## _Aggregating and Grouping Dataframes.ipynb_

### Our Main Problem :
Here is dataset and find minimum temperature of each city in the dataset

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupbydata2.csv')
df

<h3><div align="right">Grouping Dataframes</div></h3>  
<img align="left" width="1000" height="1000"  src="images/groupbyfinal.png"  >

In [ ]:
# Aggregation means to collect

## Learning agenda of this notebook
1. Overview of Aggregation Functions and the `agg()` method
    - Applying a Built-in Aggregation Function on Entire Dataframe Object
    - Applying a Built-in Aggregation Function on a Series Object
    - Applying a User-Defined/Lambda Function on a Series Object<br><br>
2. Computing the Minimum Temperature of each City using **hard way**<br><br>
3. Computing the Minimum Temperature of each City using **`groupby`**<br><br>
4. Practice GroupBy on Stack Overflow Survey Dataset

## 1. Overview of Aggregation Functions and the `agg()` Method
- An aggregation function is one which takes multiple individual values and returns a result.

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupbydata2.csv')
df

### a. Applying a Built-in Aggregation Function on Entire Dataframe Object

In [ ]:
df.min()

In [ ]:
df.count()

In [ ]:
# Should be applied to numeric columns only, may raise a warning
df.median()

In [ ]:
df.median(numeric_only=True)

> We can call the `agg()` method on the dataframe to apply multiple aggregation functions at a time, by passing the `agg()` function a list of aggregation functions as strings.

In [ ]:
df.agg(['min', 'max',  'count'])

> We can call the `describe()` method on the dataframe to get descriptive statistical measures on all its numeric columns.

In [ ]:
df.describe()

### b. Applying a Built-in Aggregation Function on a Series Object

In [ ]:
df['temperature'].min()

In [ ]:
df['temperature'].max()

In [ ]:
df['temperature'].mean()

> We can call the `agg()` method on a series to apply multiple aggregation functions at a time, by passing the `agg()` function a list of aggregation functions as strings.

In [ ]:
df['temperature'].agg(['min', 'max', 'mean', 'count'])

> We can call the `describe()` method on the dataframe to get descriptive statistical measures on all its numeric columns.

In [ ]:
df['temperature'].describe()

### c. Applying a User-Defined/Lambda Function on a Series Object using the `apply()` Method
- We have used this `apply()` method before as well that is used to invoke function on values of Series and return a resulting series.

In [ ]:
df.temperature

In [ ]:
def ctof(x):
    return x*9/5+32

df.temperature.apply(ctof)

In [ ]:
df.temperature.apply(lambda x: x*9/5+32)

# How to Compute the Minimum Temperature of Each City?

## 2. Doing it the Hard Way
<img align="center" width="700" height="500"  src="images/groupbyfinal.png"  >

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupbydata1.csv')
df

### a. Splitting the Dataframe
- We need to use conditional selection technique, in which we pass a Boolean mask for the appropriate city column to be selected. Can do it using two ways:
    - Using `df[]` subscript operator
    - Using `df.loc` method

In [ ]:
df[df['city']=='karachi']

In [ ]:
df[df['city']=='lahore']
df.loc[df.city=='lahore', :]

In [ ]:
df[df['city']=='karachi']
df.loc[df.city=='karachi', :]

In [ ]:
df[df['city']=='murree']
df.loc[df.city=='murree', :]

>**Limitation:**
>- We have to repeat this process for every city separately.
>- What if there are over 100 cities in the dataset?

### b. Applying the `min()` Function
- We need to apply the `min()` function on the temperature column of all of the above dataframes separately

In [ ]:
df.loc[df.city=='lahore', :].temperature.min()

In [ ]:
df.loc[df.city=='lahore', :].temperature.min()

In [ ]:
df.loc[df.city=='karachi', :].temperature.min()

In [ ]:
df.loc[df.city=='murree', :].temperature.min()

>**Limitation:**
>- We have to repeat this process for every city separately.
>- What if there are over 100 cities in the dataset?

### c. Combining the Result
- Since, we have got the minimum temperature of all the cities, we need to combine them to an appropriate series object to be used for later processing.

In [ ]:
lhr = df.loc[df.city=='lahore', :].temperature.min()
kci = df.loc[df.city=='karachi', :].temperature.min()
murree = df.loc[df.city=='murree', :].temperature.min()

s = pd.Series(data=[lhr, kci, murree], index=['L_min', 'K_min', 'M_min'] )
s.name= 'Min Temperatures'
s

# How to Compute the Minimum Temperature of Each City?

## 3. An Elegant Way
<img align="center" width="700" height="500"  src="images/groupbyfinal.png"  >

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupbydata1.csv')
df

### a. Step 1: Split Step
- In the split step we divide the data inside the dataframe into multiple groups
- Since we need to calculate the minimum temperature of each city, therefore, we will use `groupby()` method on the `city` column of the dataframe.
- This will result a DataFrameGroupBy object, which is an iterable containing multiple small dataframes based on the `by` argument passed to the `groupby()` method

In [ ]:
dfgb = df.groupby('city')
dfgb

>- Since this is an iterable, so let us iterate :)

In [ ]:
for mydf in dfgb:
    print(mydf)

>- To display indices of every group in the dataframe, use `groups` attribute of  `DataFrameGroupBy` object.
>- Returns a Dictionary object (PrettyDict) with keys as the group value and value as list of corresponding row indices

In [ ]:
dfgb.groups   # df.groupby('city').groups

>- To display records of a specific group, use `get_group()` method on `DataFrameGroupBy` object.
>- Construct and return DataFrame from `DataFrameGroupBy` object  with provided name.

In [ ]:
# Display DataFrame of a specific group from groupby object by providing the specific group value
dfgb.get_group('murree') # df.groupby('city').get_group('karachi')

>- To find the size of each group, use `size()` method of DataFrameGroupBy object.
>- It return a series containing number of rows in each each group of the DataFrameGroupBy object as a Series

In [ ]:
dfgb.size()  #df.groupby('city').size()

> After understanding the `groupby()` method let us move to step 2, and that is `Applying a Function`

### b. Step 2: Apply Step
- Now second step is that we apply appropriate aggregate function on all the groups inside the DataFrameGroupBy object

**Let us first apply aggregate function on a specific column of `DataFrameGroupBy` object, which is a `SeriesGroupBy` object**

In [ ]:
df

In [ ]:
df.groupby('city')

In [ ]:
df.groupby('city').get_group('lahore')

In [ ]:
df.groupby('city').get_group('lahore').temperature.min()

In [ ]:
df.groupby('city').get_group('lahore').temperature.min()

In [ ]:
df.groupby('city').get_group('karachi').temperature.min()

In [ ]:
df.groupby('city').get_group('murree').temperature.min()

### b. Step 3: Combine Step
- Now we have got minimum temperature of all the three cities, let us combine the result into a series object

In [ ]:
kci = df.groupby('city').get_group('karachi').temperature.min()
lhr = df.groupby('city').get_group('lahore').temperature.min()
murree = df.groupby('city').get_group('murree').temperature.min()

s1 = pd.Series(data=[kci, lhr, murree], index=['K_min', 'L_min', 'M_min'] )
s1.name= 'Min Temperatures'
s1

>- **Let us perform the `apply + combine` steps in one go, by applying the `min()` function on the temperature series of all the dataframes inside the DataFrameGroupBy object.**
>- **This saves us from the hassle of applying `min()` method explicitly as done above**

In [ ]:
df.groupby('city')

In [ ]:
df.groupby('city').temperature

In [ ]:
df.groupby('city').temperature.min()

>- **We can also apply `agg()` method on the temperature series of all the dataframes inside the DataFrameGroupBy object**

In [ ]:
df.groupby('city').temperature.agg(['min', 'max', 'sum', 'mean'])

>-Note that we have got a dataframe this time

## 4. Practice GroupBy on Stack Overflow Survey Dataset
Visit to Download Data: https://insights.stackoverflow.com/survey/

### a. Understand the Data Set

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/so_survey_subset.csv', index_col='Respondent')
df.shape

In [ ]:
df.head()

In [ ]:
df.loc[df['Country']=='Pakistan', :]

In [ ]:
import pandas as pd
schema = pd.read_csv('datasets/so_survey_subset_schema.csv', index_col='Column')
schema

In [ ]:
schema.loc['Hobbyist']

In [ ]:
df['Hobbyist']

In [ ]:
schema.loc['Country']

In [ ]:
df['Country']

In [ ]:
schema.loc['ConvertedComp']

In [ ]:
df['ConvertedComp']

In [ ]:
schema.loc['LanguageWorkedWith']

In [ ]:
!cat datasets/so_survey_subset_schema.csv

In [ ]:
df['LanguageWorkedWith']

In [ ]:
schema.loc['SocialMedia']

In [ ]:
df['SocialMedia']

In [ ]:
df

##### Let us perform some basic statistical analysis on the Dataset

In [ ]:
# Returns the count of non-NA values for a series object.
df['Hobbyist'].count()

In [ ]:
# Returns a Series containing counts of unique rows.
df['Hobbyist'].value_counts()

In [ ]:
# Returns the count of non-NA values for a series object.
df['Country'].count()

In [ ]:
# Returns a Series containing counts of unique rows.
df['Country'].value_counts()

### To get the count of countries whose developers participated in the survey

In [ ]:
df['Country'].value_counts().count()

In [ ]:
# Returns the count of non-NA values for a series object.
df['ConvertedComp'].count()

In [ ]:
# Returns a Series containing counts of unique rows.
df['ConvertedComp'].value_counts()

In [ ]:
df['ConvertedComp'].mean()

In [ ]:
df['ConvertedComp'].median()

In [ ]:
df.describe()

<h1 align="center">Let us try answering certain Questions</h1>

##  Question 1: 
>**List the most popular SocialMedia web site for every Country**

**Let us first  do the easy task, and that is to list the most popular SocialMedia website of a single country (lets say Pakistan)**

In [ ]:
df[df.Country=='Pakistan']

In [ ]:
df.loc[df.Country=='Pakistan', 'SocialMedia']

In [ ]:
df.loc[df.Country=='Pakistan', 'SocialMedia'].value_counts()

In [ ]:
df.loc[df.Country =='Pakistan', :]
df.loc[df.Country =='Pakistan', 'SocialMedia'].head(10)
df.loc[df.Country =='Pakistan', 'SocialMedia'].value_counts()
df.loc[df.Country =='Pakistan', 'SocialMedia'].value_counts(normalize=True)
df.loc[df.Country =='China', 'SocialMedia'].value_counts()

In [ ]:
df.groupby('Country')

In [ ]:
df.groupby('Country').get_group("Pakistan").head()

In [ ]:
df.groupby('Country').get_group("Pakistan").loc[:, 'SocialMedia']

In [ ]:
df.groupby('Country').get_group("Pakistan").loc[:, 'SocialMedia'].value_counts()

In [ ]:
df.groupby('Country')['SocialMedia'].value_counts().head(60)

In [ ]:
df.groupby('Country')['SocialMedia'].value_counts().head(50)

In [ ]:
df.groupby('Country')['SocialMedia'].value_counts().head(50)

##  Question 2: 
>**What percentage of people in each country knows Python programming?**

**tc** = Total count of people from each country who participated in the survey?

**pc** = Python People: Count of people from each country who knows Python

**tc (option 1):**

In [ ]:
df

In [ ]:
df.loc[:, 'Country']

In [ ]:
tc = df['Country'].value_counts()
tc.name = 'Total'
tc

**tc (option 2):**

In [ ]:
dfgb = df.groupby('Country')
dfgb

In [ ]:
df.groupby('Country')['Country']

In [ ]:
df.groupby('Country')['Country'].apply(lambda x: x.value_counts()).sort_values()

**pc:**

In [ ]:
df.loc[:, 'LanguageWorkedWith']

In [ ]:
df.groupby('Country')['LanguageWorkedWith']

In [ ]:
df.groupby('Country')['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python'))

In [ ]:
pp = df.groupby('Country')['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
pp

In [ ]:
pp.name = 'Knows Python'

**Create a Dataframe of two series tc and pp**

In [ ]:
resultdf = pd.concat([tc, pp], axis=1)
resultdf

In [ ]:
resultdf.loc['Pakistan']

In [ ]:
resultdf.loc['India']

**Percentage of people in each country knows Python?**

In [ ]:
resultdf['Percentage'] = (resultdf['Knows Python'] / resultdf['Total']) * 100
resultdf

In [ ]:
resultdf.loc['Pakistan']

In [ ]:
resultdf.sample(20).sort_values(by ='Percentage', ascending=False)

## Let's create your own five questions and try to answer these questions.

In [2]:
# Q-01 ==???
# Q-02 ==???
# Q-03 ==???
# Q-04 ==???
# Q-05 ==???

## Check Your Concepts:
- What is Pandas?

## Practice Questions

### Write a Pandas program to split the following dataframe into groups based on school code. Also check the type of GroupBy object.

In [6]:
dict1={
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']}
df = pd.DataFrame(dict1)
df

,school_code,class,name,date_Of_Birth,age,height,weight,address
0,s001,V,Alberto Franco,15/05/2002,12,173,35,street1
1,s002,V,Gino Mcneill,17/05/2002,12,192,32,street2
2,s003,VI,Ryan Parkes,16/02/1999,13,186,33,street3
3,s001,VI,Eesha Hinton,25/09/1998,13,167,30,street1
4,s002,V,Gino Mcneill,11/05/2002,14,151,31,street2
5,s004,VI,David Parkes,15/09/1997,12,159,32,street4

### Write a Pandas program to split the following dataframe by school code and get mean, min, and max value of age for each school.

### Write a Pandas program to split the above given dataframe into groups based on school code and class.

### Write a Pandas program to split the above given dataframe into groups based on school code and cast grouping as a list.(Hint : list(groupbyObject))

### Write a Pandas program to split the following given dataframe into groups based on school code and call a specific group with the name of the group.

## Practice Exercise 01

#### Step 1. Import the necessary libraries

#### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/bsef19m521/DatasetsForProjects/master/drinks.csv).

#### Step 3. Assign it to a variable called drinks.

In [33]:
drinks = pd.read_csv('datasets/drinks.csv')
# drinks.head()

#### Step 4. Which continent drinks more beer on average?

List of all continets
```
Asia 
Africa 
Europe 
North America 
South America
Australia/Oceania 
Antarctica
```

#### Step 5. For each continent print the statistics for wine consumption.

#### Step 6. Print the mean alcohol consumption per continent for every column

#### Step 7. Print the median alcohol consumption per continent for every column

#### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

## Practice Exercise 02

#### Step 1. Import the necessary libraries

#### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/bsef19m521/DatasetsForProjects/master/occupation.user).

#### Step 3. Assign it to a variable called users.

In [74]:
users = pd.read_csv('datasets/occupation.user', delimiter="|")
# users.head()

#### Step 4. Discover what is the mean age per occupation.

#### Step 5. Discover the Male ratio per occupation and sort it from the most to the least
First 1: We calculate value count of each occupation.         
Second 2: We find value count of gender `Male` against each occupation              
Third 3: We find percentage and sort our result

#### Step 6. For each occupation, calculate the minimum and maximum ages

#### Step 7. For each combination of occupation and gender, calculate the mean age

#### Step 8.  For each occupation represents the percentage of women and men.

In [ ]:
# create a data frame and apply count to gender
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

# create a DataFrame and apply count for each occupation
occup_count = users.groupby(['occupation']).agg('count')

# divide the gender_ocup per the occup_count and multiply per 100
occup_gender = gender_ocup.div(occup_count, level = "occupation") * 100

# present all rows from the 'gender column'
occup_gender.loc[: , 'gender']

# Pandas - Assignment no 09
- Here is link of Pandas - [Assignment no 09]()