---   

<h1 align="center">Introduction to Data Analyst and Data Science for beginners</h1>
<h1 align="center">Lecture no 2.10(Pandas-01)</h1>

---
<h3><div align="right">Ehtisham Sadiq</div></h3>

## _From Python Dictionary to Pandas Dataframe.ipynb_

## 1. Overview of Pandas Library and its Datastructures

<img align="center" width="700" height="700"  src="images/pandas-apps.png"  >

> **Pandas is an open source python library built on top of numpy and provides easy to use data structures and data analysis tools. Pandas has derived its name from panel data system and was developed by wes mckinney in 2008.**

> **Data scientists use pandas for performing various data science tasks starting from downloading, opening, reading and writing files of different file formats like csv, excel, json, html and so on. They load the data set into its data structure called data frame.**

> **A Pandas Dataframe is a 2-dimensional labeled data structure (like SQL table) with heterogeneously typed columns, having both a row and a column index.**

> **After the data is loaded in a data frame data scientists perform a various data manipulation tasks like filtering and modifying data based on multiple conditions cutting splitting merging sorting scaling pivoting and aggregating of data.**

> **Data cleaning is done to enhance the data accuracy and integrity by identifying and removing null values duplicates and outliers.**

> **Data wrangling actually transforms the data structurally to appropriate format and makes it ready to be used by the machine learning engineers so that they can apply appropriate machine learning models or algorithm on that data set for training validating and testing purposes.**

## Learning agenda of this notebook

1. Overview of Pandas Library and its Data Structures
2. Install Pandas Library
3. Read Datasets into Pandas Dataframe
4. Python Dictionaries vs Pandas Dataframes
5. Anatomy of a Dataframe
6. Bonus

## 2. Install Pandas Library

In [ ]:
# To install this library in Jupyter notebook
import sys
!{sys.executable} -m pip install pandas --quiet

In [ ]:
import pandas as pd
pd.__version__ , pd.__path__

## 3. Read Data Sets into Pandas Dataframe

### a. Titanic Dataset
- Here is link to [titanic movie](https://hdtoday.cc/movie/watch-titanic-full-19586)
- This dataset containing information about passengers offered the titanic ship that sank in north atlantic ocean in 1912 after striving striking with an iceberg.
- Characteristics of dataset
   - plcass : passengers class like CLASS A, CLASS B, CLASS C. 
   - survived : 1 means alive and 0 means died.
   - name : name of each passenger
   - sex : gender
   - age : passenger's age
   - sibsp : number of siblings and spouses(mainya biwi) on board
   - parch : number of parents and children on board
   - cabin : cabin in which they are residing
   - embarked : Location from where they have embarked like southampton, cherbourg , queenstown.
   
- This is normally the first problem that machine learning students normally perform in which they answer the  questions like what sort of people were more likely to survive in that titanic thinking by applying some predictive model like reggresion.

In [ ]:
df_titanic = pd.read_csv('datasets/titanic3.csv')
df_titanic

### b. IMDB Dataset
- This is internet movie database containing movie ratings. Here , only all imdb registered users can cast a vote on every released title.
- By using this dataset we can can answer a lot of questions like movies of a specific actor ,the list of comedy movies or crime movies, movies that are not for children and movies with released year.

In [ ]:
df_imdb = pd.read_csv('datasets/imdb.csv')
df_imdb

### c. Covid Dataset
- This covet 19 disease data set is collected by WHO and contains daily updates on differentstatistics of the disease in different countries all around the global.

In [ ]:
df_covid =pd.read_csv('datasets/covid-data.csv')
df_covid

**We have seen the idea of pandas data frame which is a data structure capable of loading this huge amount of data inside the computer memory and allows you to wrangle and clean this data perform different data analytics and finally design and train machine learning models to do prediction and forecasting.**

## 4. Python Dictionaries vs Pandas Dataframes

In [ ]:
person = {
    "name" : "Ehtisham",
    "age" : 21,
    "address" : "Lahore",
    "cell" : "0320-431",
    "bg": "A-"
}
person

In [1]:
people = {
    "name" : ["Ehtisham", "Ali", "Ayesha", "Dua", "Khubaib", "Adeen"],
    "age" : [21, 20, 18, 17, 12, 10],
    "address": ["Lahore", "Karachi", "Lahore", "Islamabad", "Kakul", "Karachi"],
    "cell" : ["321-123", "320-431", "321-478", "324-446", "321-967", "320-678"],
    "bg": ["B+", "A-", "B+", "O-", "A-", "B+"]
}
people

{'name': ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Khubaib', 'Adeen'],
 'age': [21, 20, 18, 17, 12, 10],
 'address': ['Lahore', 'Karachi', 'Lahore', 'Islamabad', 'Kakul', 'Karachi'],
 'cell': ['321-123', '320-431', '321-478', '324-446', '321-967', '320-678'],
 'bg': ['B+', 'A-', 'B+', 'O-', 'A-', 'B+']}

In [ ]:
! cat datasets/people.csv

In [ ]:
df_people = pd.read_csv('datasets/people.csv')
df_people

**Accessing Elements of Dictionaries and Dataframes**

In [ ]:
# First Method
people.get('age')

In [ ]:
mylist = people['name']
mylist

In [ ]:
type(mylist)

In [ ]:
df_people[' age']

In [ ]:
myseries = df_people['name']
myseries

In [ ]:
type(myseries)

In [ ]:
df_people.index

In [ ]:
df_people.columns

## 5. Anatomy of a Dataframe
<img align="center" width="800" height="500"  src="images/dataframe.png"  >

**Here each column of this dataframe is actually a series object since our data frame is 2d so we have two x's axis 0 is the vertical axis that moves from top to bottom and we have records or rows along this axis similarly the axis 1 is the horizontal axis that moves from left to right and the columns changes as we move from left to right and this is the same concept that we have discussed in the numpy 2d arrays as well and at the intersection of each row and column we have our data valus.**

## 6. Bonus (Changing display properties of a Dataframe Object)
- Get the option names `pd.describe_option()`
- Get current value of a display option `pd.get_option('nameofoption')`
- Change value of a display option `pd.set_option('nameofoption', newvalue)`
- Resetting options to default `pd.reset_option('all')

In [ ]:
df_covid

### a. Changing the number of columns to be displayed

In [ ]:
pd.describe_option()

In [ ]:
pd.get_option('max_columns')

In [ ]:
pd.set_option('max_columns', 67)

In [ ]:
pd.get_option('max_columns')

In [ ]:
df_covid

### b. Changing the number of rows to be displayed

**Display 6 rows instead of default of 10**

In [ ]:
pd.get_option('min_rows')

In [ ]:
pd.set_option('min_rows', 8)

In [ ]:
pd.get_option('min_rows')

In [ ]:
df_covid

**Display 30 rows instead of default of 10**

In [ ]:
pd.set_option('min_rows', 30)

In [ ]:
pd.get_option('min_rows')

In [ ]:
df_covid

>Students should check out the relationship of option `max_rows` with `min_rows` at your own

### c. Changing Number of Characters to be Displayed in each Column

In [ ]:
df_imdb

In [ ]:
pd.get_option('display.max_colwidth')

In [ ]:
pd.set_option('display.max_colwidth', 200)

In [ ]:
pd.get_option('display.max_colwidth')

In [ ]:
df_imdb

### c. Setting the options back to default

In [ ]:
pd.reset_option('all')

### d. Changing Style by applying CSS to Pandas Dataframe

In [ ]:
df_titanic.head(10).style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#7CAE00'), 
            ('color', 'white'),
            ('font-family', 'verdana')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', '#DCDCDC')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background', 'pink')]},
 
]
).hide_index()